[tool.basedpyright]
typeCheckingMode = "strict"

exclude = ["last.fm Scrobble Updater"]

reportMissingTypeStubs = false
reportUnknownMemberType = false
reportUnknownArgumentType = false
reportUnknownVariableType = false
reportUnknownParameterType = false
reportUnknownLambdaType = false
reportAny = false